<template>
  <div class="col-lg-12" v-if="objeto.length">
    <b-row v-for="(b, index) in objeto" :key="index">
      <b-col>
        <b-overlay :show="show" rounded="sm">
          <b-card :title="b.title" :aria-hidden="show ? 'true' : null">
            <b-row>
              <b-col class="text-left">
                <b-card-text>
                  <h6>
                    Dia: {{ b.data }}<br />
                    horário: {{ b.horario }}
                  </h6>
                </b-card-text>
              </b-col>
              <b-col class="text-center">
                <b-card-text
                  ><b>Vagas</b>
                  <h3>{{ b.items.length }} / {{ b.limite }}</h3></b-card-text
                >
              </b-col>
            </b-row>
            <br />
            <b-button
              v-if="b.items.length < b.limite"
              :disabled="show"
              variant="dark"
              size="sm"
              @click="reservar(b)"
            >
              Reservar
            </b-button>
            &nbsp;
            <b-button variant="dark" size="sm" @click="lista(b)">
              Lista
            </b-button>
          </b-card>
        </b-overlay>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import barramento from "../barramento.js";

export default {
  name: "Card",
  props: ["objeto"],
  data() {
    return {
      show: false,
    };
  },
  methods: {
    reservar(b) {
      //this.show = true
      barramento.$emit("form_reserva", b);
    },
    lista(b) {
      barramento.$emit("lista", b);
    },
  },
};
</script>