<template>
  <div>
    <b-row>
      <b-col cols="1"> </b-col>
      <b-col>
        <b-button type="button" variant="dark" size="sm" @click="voltar">
          Voltar
        </b-button>
      </b-col>
      <b-col cols="1"> </b-col>
    </b-row>
    <br />
    <b-row>
      <b-col cols="1"> </b-col>
      <b-col>
        <b-table striped hover :items="items" :fields="fields">
          <template #cell(action)="data">
            <b-button
              variant="dark"
              size="sm"
              @click="modalCancelar(data.index)"
              :disabled="!data.item.cpf"
            >
              {{ data.item.cpf ? "Desmarcar" : "Dependente" }}
            </b-button>
          </template>
        </b-table>
      </b-col>
      <b-col cols="1"> </b-col>
    </b-row>
    <br />
    <!-- Modal para desmarcar um horário -->
    <b-modal
      id="modal_cancelar_agendamento"
      size="sm"
      hide-footer
      no-close-on-backdrop
    >
      <template slot="modal-title"> Verificando CPF </template>
      <label>CPF</label>
      <b-form-input type="text" v-mask="'###.###.###-##'" v-model="cpf">
      </b-form-input>
      <b-form-invalid-feedback :state="validarCpf">
        Para sua segurança, favor informa seu CPF válido...
      </b-form-invalid-feedback>
      <br />
      <b-button v-show="vButtonCpf" variant="dark" @click="cancelar()">
        Sim, Desmarcar
      </b-button>
      <br />
    </b-modal>
    <!-- Fim Modal -->
  </div>
</template>

<script>
import barramento from "../barramento.js";

export default {
  props: ["items", "id"],
  data() {
    return {
      index: null,
      cpf: "",
      fields: [
        "nome",
        //'celular',
        {
          key: "action",
          label: "Remover",
        },
      ],
      vButtonCpf: false,
    };
  },
  methods: {
    modalCancelar(index) {
      this.index = index;
      this.cpf = "";
      this.$bvModal.show("modal_cancelar_agendamento");
    },
    cancelar() {
      barramento.$emit("spinner", true);
      if (this.items[this.index].cpf === this.cpf) {
        barramento.$emit("remove_lista", { index: this.index, id: this.id });
        this.$bvModal.hide("modal_cancelar_agendamento");
      } else {
        this.$swal(
          "Ops...!",
          "O CPF informado não corresponde ao vinculado nesta vaga!",
          "warning"
        );
        barramento.$emit("spinner", false);
      }
    },
    voltar() {
      barramento.$emit("lista", null);
    },
  },
  computed: {
    validarCpf() {
      var numeros;
      var digitos;
      var soma;
      var i;
      var resultado;
      var digitos_iguais;
      var retorno = false;
      var obj = this;
      var cpf = this.cpf;

      cpf = cpf.replace(".", "");
      cpf = cpf.replace("-", "");
      cpf = cpf.replace(".", "");

      digitos_iguais = 1;
      if (cpf.length < 11) {
        obj.vButtonCpf = false;
        return false;
      }

      for (i = 0; i < cpf.length - 1; i++)
        if (cpf.charAt(i) != cpf.charAt(i + 1)) {
          digitos_iguais = 0;
          break;
        }

      if (!digitos_iguais) {
        numeros = cpf.substring(0, 9);
        digitos = cpf.substring(9);
        soma = 0;

        for (i = 10; i > 1; i--) soma += numeros.charAt(10 - i) * i;
        resultado = soma % 11 < 2 ? 0 : 11 - (soma % 11);

        if (resultado != digitos.charAt(0)) {
          obj.vButtonCpf = false;
          return false;
        }

        numeros = cpf.substring(0, 10);
        soma = 0;
        for (i = 11; i > 1; i--) soma += numeros.charAt(11 - i) * i;
        resultado = soma % 11 < 2 ? 0 : 11 - (soma % 11);

        if (resultado != digitos.charAt(1)) {
          obj.vButtonCpf = false;
          return false;
        }
        retorno = true;
        obj.vButtonCpf = true;
      } else {
        obj.vButtonCpf = false;
        return false;
      }

      return retorno;
    },
  },
};
</script>