<template>
  <div id="app">
    <br/>
    <div class="col-lg-12">
      <b-row>
        <b-col>
          <b-breadcrumb :items="items"></b-breadcrumb>
          <router-view />
        </b-col>
      </b-row>
      <b-modal ref="my-modal" hide-footer title="Avisos">
        <div class="d-block text-center">
          <h3>Atenção!</h3>
          <p> Entre os dias <b>15 e 17 de abril</b> estaremos realizando o nosso retiro da família ❤️. <br><br> Aqueles que ainda não se inscreveram com o Maicon Cadury, podem realizar a inscrição por aqui. <br> (é possível realizar incrição individual ou também de dependentes) <br><br> Lembrando que os valores das inscrições são: <ul style="padding: 0px; list-style-type: none;"><li>De <b>0 a 5</b> anos : <b>gratuito</b></li><li>De <b>6 a 10 anos</b> : <b>R$ 155</b></li><li><b>11 anos ou mais</b> : <b>R$ 215</b></li><li><b>Entrada: R$ 105 por pagante</b></li></ul> Obs.: O valor da entrada é o mesmo para todos os pagantes (independente da faixa etária). <br> <br><b>O pagamento da inscrição deve ser realizado para <b>Maicon Cadury</b>, via PIX.</b><br><br> Dados para pagamento via PIX: <br><b>E-mail: cadurymaicon@gmail.com </b><br><br> Nos vemos no retiro! <br> Jesus abençoe a todos. <br><br><br> O Presbitério. </p>
        </div>
        <b-button class="mt-2" variant="success" block @click="hideModal()">
          FECHAR
        </b-button>
      </b-modal>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      items: [
        {
          text: "Início",
          href: "#",
        },
      ],
    };
  },
  methods: {
    showModal() {
      this.$refs["my-modal"].show();
    },
    hideModal() {
      this.$refs["my-modal"].hide();
    },
  },
  beforeMount() {
    setTimeout(() => {
      this.showModal();
    }, 1000);
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
</style>
