<template>
  <div class="admin col-lg-12">
    <div v-if="!logado">
      <b-row style="margin-top: 150px">
        <b-col></b-col>
        <b-col>
          <login />
        </b-col>
        <b-col></b-col>
      </b-row>
    </div>
    <div v-else>
      <br />
      <br />
      <b-card>
        <b-row>
          <b-col cols="11">
            <div class="text-center">
              <h4>Painel Administrador</h4>
            </div>
          </b-col>
          <b-col>
            <div class="text-right">
              <b-button size="sm" @click="sair()"> Sair</b-button>
            </div>
          </b-col>
        </b-row>
        <div>
          <br />
          <b-card no-body>
            <b-tabs card>
              <b-tab title="Evento" active>
                <b-card-text>
                  <evento :items="objeto" />
                </b-card-text>
              </b-tab>
              <b-tab title="Agenda">
                <b-card-text>
                  <agenda :objeto="objeto" />
                </b-card-text>
              </b-tab>
            </b-tabs>
          </b-card>
        </div>
      </b-card>
    </div>
    <spinner :mostrar="mostrar" />
  </div>
</template>

<script>
import login from "../components/painel/Login.vue";
import barramento from "../barramento.js";
import evento from "../components/painel/Evento.vue";
import agenda from "../components/painel/Agenda.vue";
import spinner from "../components/Spinner.vue";

export default {
  components: { login, evento, agenda, spinner },
  data() {
    return {
      mostrar: false,
      objeto: [],
      logado: false,
    };
  },
  methods: {
    sair() {
      this.logado = false;
    },
    getDb() {
      this.mostrar = true;
      this.objeto = [
        {
          id: 1,
          title: "Domingo",
          data: "2020-05-02",
          horario: "19:00",
          limite: "70",
          enabled: true,
          items: {
            0: {
              id: 38,
              evento_id: 1,
              nome: "Rodrigo Freitas",
              celular: "(**) ****-**88",
              cpf: "005.315.310-31",
            },
            1: {
              id: 39,
              evento_id: 1,
              nome: "Freitas",
              celular: "(**) ****-**78",
              cpf: "005.315.310-31",
            },
          },
        },
        {
          id: 2,
          title: "Sábado",
          data: "2020-05-02",
          horario: "19:00",
          limite: "70",
          enabled: false,
          items: {
            0: {
              id: 38,
              evento_id: 2,
              nome: "Rodrigo Freitas",
              celular: "(**) ****-**88",
              cpf: "005.315.310-31",
            },
            1: {
              id: 39,
              evento_id: 2,
              nome: "Freitas",
              celular: "(**) ****-**78",
              cpf: "005.315.310-31",
            },
          },
        },
      ];
      this.axios({
        method: "get",
        url: "/api/public/api",
        headers: { "content-type": "application/json" },
      })
        .then((response) => {
          this.objeto = response.data;
          this.mostrar = false;
        })
        .catch(function(error) {
          console.log(error);
        });

      this.mostrar = false;
    },
  },
  beforeDestroy() {
    barramento.$off("login_valido");
    barramento.$off("get_api");
    barramento.$off("spinner_admin");
  },
  created() {
    barramento.$on("login_valido", (b) => {
      this.logado = b;
    });
    barramento.$on("get_api", (b) => {
      if (b) this.getDb();
    });
    barramento.$on("spinner_admin", (b) => {
      this.mostrar = b;
    });
  },
  beforeMount() {
    this.getDb();
  },
};
</script>
