<template>
  <div class="agenda">
    <b-row>
      <b-col>
        <label>Evento</label>
        <b-form-select :options="options" v-model="form.evento_id">
        </b-form-select>
      </b-col>
      <b-col>
        <label>Nome</label>
        <b-form-input type="text" v-model="form.nome"></b-form-input>
      </b-col>
      <b-col>
        <label>Celular</label>
        <b-form-input
          type="text"
          v-mask="'(##) #####-####'"
          v-model="form.celular"
        >
        </b-form-input>
      </b-col>
      <b-col>
        <label>CPF</label>
        <b-form-input type="text" v-mask="'###.###.###-##'" v-model="form.cpf">
        </b-form-input>
      </b-col>
      <b-col style="margin-top: 30px">
        <b-button :disabled="!form.evento_id || !form.nome" @click="add()">
          <b>+</b>
        </b-button>
      </b-col>
    </b-row>
    <br />
    <b-table striped hover :items="items" :fields="fields">
      <template v-slot:cell(evento_id)="data">
        <b-form-select
          size="sm"
          disabled
          :options="options"
          v-model="data.item.evento_id"
        >
        </b-form-select>
      </template>
      <template v-slot:cell(action)="data">
        <b-button variant="primary" size="sm" @click="edit(data.index)"
          >Edit
        </b-button>
        &nbsp;
        <b-button variant="danger" size="sm" @click="mensagemDelet(data.index)">
          Delete
        </b-button>
      </template>
    </b-table>
  </div>
</template>

<script>
import swal from "sweetalert";
import barramento from "../../barramento.js";

export default {
  props: ["objeto"],
  data() {
    return {
      options: [],
      fields: [
        {
          key: "evento_id",
          label: "Evento",
        },
        {
          key: "nome",
          label: "nome",
        },
        {
          key: "celular",
          label: "Celular",
        },
        {
          key: "cpf",
          label: "Cpf",
        },
        {
          key: "action",
          label: "Ação",
        },
      ],
      items: [],
      form: {
        id: null,
        evento_id: null,
        nome: "",
        celular: "51111111111",
        cpf: "11111111111",
      },
    };
  },
  methods: {
    add() {
      barramento.$emit("spinner_admin", true);

      // --- Add na listagem
      this.items.push({
        id: this.form.id,
        evento_id: this.form.evento_id,
        nome: this.form.nome,
        celular: this.form.celular,
        cpf: this.form.cpf,
      });

      this.axios({
        method: "post",
        url: "/api/public/api/form_add_agenda",
        data: {
          form: this.form,
        },
        headers: { "content-type": "application/json" },
      }).then(
        (response) => {
          console.log(response);
          // --- Limpando form
          this.form.id = null;
          //this.form.evento_id = null;
          this.form.nome = "";
          this.form.celular = "";
          this.form.cpf = "";

          barramento.$emit("get_api", true);
        },
        (error) => {
          this.$swal({
            type: "error",
            title: "Error",
            text: error,
          });
        }
      );
      // barramento.$emit("spinner_admin", false);
    },
    edit(index) {
      this.form.id = this.items[index].id;
      this.form.evento_id = this.items[index].evento_id;
      this.form.nome = this.items[index].nome;
      this.form.celular = this.items[index].celular;
      this.form.cpf = this.items[index].cpf;

      this.delet(index, true);
    },
    mensagemDelet(index) {
      swal("Deletar", "Você tem certeza de que deseja deletar?", "warning", {
        buttons: {
          cancel: "Não",
          catch: {
            text: "Sim",
            value: "catch",
          },
        },
      }).then((value) => {
        switch (value) {
          case "catch":
            this.delet(index);
            break;

          default:
            swal("Certo!", "Ok, informação mantida!", "warning");
        }
      });
    },
    delet(index, api = false) {
      if (api) {
        this.items.splice(index, 1);
      } else {
        barramento.$emit("spinner_admin", true);
        this.axios({
          method: "delete",
          url: "/api/public/api/remove_agenda/" + this.items[index].id,
          headers: { "content-type": "application/json" },
        })
          .then((response) => {
            console.log(response);
            this.items.splice(index, 1);
            barramento.$emit("get_api", true);
            swal("Sucesso!", "Agendamento deletado com sucesso!", "success");
          })
          .catch(function(error) {
            console.log(error);
          });
      }
    },
    criarOptionsEvento(evento_id = null) {
      this.options.push({
        value: null,
        text: "Selecione",
      });

      for (var i = 0; i < this.objeto.length; i++) {
        this.options.push({
          value: this.objeto[i].id ? this.objeto[i].id : evento_id,
          text:
            this.objeto[i].title +
            ": " +
            this.objeto[i].data +
            " " +
            this.objeto[i].horario,
        });
      }
    },
    percorreItem(items = []) {
      for (var m in items) {
        this.items.push({
          id: items[m].id,
          evento_id: items[m].evento_id,
          nome: items[m].nome,
          celular: items[m].celular,
          cpf: items[m].cpf,
        });
      }
    },
    percorreObjeto() {
      for (var l = 0; l < this.objeto.length; l++) {
        this.percorreItem(this.objeto[l].items);
      }
    },
  },
  beforeMount() {
    setTimeout(() => {
      this.percorreObjeto();
      this.criarOptionsEvento();
    }, 100);
  },
};
</script>
