<template>
  <div class="evento">
    <b-row>
      <b-col>
        <label>Titulo</label>
        <b-form-input type="text" v-model="form.title"></b-form-input>
      </b-col>
      <b-col>
        <label>Data</label>
        <b-form-input type="date" v-model="form.data"></b-form-input>
      </b-col>
      <b-col>
        <label>Hora</label>
        <b-form-input type="time" v-model="form.horario"></b-form-input>
      </b-col>
      <b-col>
        <label>Limite</label>
        <b-form-input type="number" v-model="form.limite"></b-form-input>
      </b-col>
      <b-col>
        <label>Ativar</label>
        <b-form-checkbox v-model="form.enabled"> </b-form-checkbox>
      </b-col>
      <b-col style="margin-top: 30px">
        <b-button
          :disabled="!form.title || !form.data || !form.horario || !form.limite"
          @click="add()"
        >
          <b>+</b>
        </b-button>
      </b-col>
    </b-row>
    <br />
    <b-table striped hover :items="items" :fields="fields">
      <template v-slot:cell(enabled)="data">
        <b-form-checkbox v-model="data.item.enabled" :disabled="true">
        </b-form-checkbox>
      </template>
      <template v-slot:cell(action)="data">
        <b-button variant="primary" size="sm" @click="edit(data.index)">
          Edit
        </b-button>
        &nbsp;
        <b-button variant="danger" size="sm" @click="mensagemDelet(data.index)">
          Delete
        </b-button>
      </template>
    </b-table>
  </div>
</template>

<script>
import swal from "sweetalert";
import barramento from "../../barramento";

export default {
  props: ["items"],
  data() {
    return {
      fields: [
        {
          key: "title",
          label: "Titulo",
        },
        {
          key: "data",
          label: "Data",
        },
        {
          key: "horario",
          label: "Hora",
        },
        {
          key: "limite",
          label: "Limite",
        },
        {
          key: "enabled",
          label: "Ativo",
        },
        {
          key: "action",
          label: "Ação",
        },
      ],
      form: {
        id: null,
        title: "",
        data: "",
        horario: "",
        limite: 0,
        enabled: false,
      },
    };
  },
  methods: {
    add() {
      barramento.$emit("spinner_admin", true);

      // --- Add na listagem
      this.items.push({
        id: this.form.id,
        title: this.form.title,
        data: this.form.data,
        horario: this.form.horario,
        limite: this.form.limite,
        enabled: false,
      });

      this.axios({
        method: "post",
        url: "/api/public/api/form_add_evento",
        data: {
          form: this.form,
        },
        headers: { "content-type": "application/json" },
      }).then(
        (response) => {
            
          console.log(response);
          // --- Limpando form
          this.form.id = null;
          this.form.title = "";
          this.form.data = "";
          this.form.horario = "";
          this.form.limite = 0;
          this.form.enabled = false;

          barramento.$emit("get_api", true);
        },
        (error) => {
          this.$swal({
            type: "error",
            title: "Error",
            text: error,
          });
        }
      );

      //barramento.$emit("spinner_admin", false);
    },
    edit(index) {
      this.form.id = this.items[index].id;
      this.form.title = this.items[index].title;
      this.form.data = this.items[index].data;
      this.form.horario = this.items[index].horario;
      this.form.limite = this.items[index].limite;
      this.form.enabled = this.items[index].enabled;

      this.delet(index, true);
    },
    mensagemDelet(index) {
      swal("Deletar", "Você tem certeza de que deseja deletar?", "warning", {
        buttons: {
          cancel: "Não",
          catch: {
            text: "Sim",
            value: "catch",
          },
        },
      }).then((value) => {
        switch (value) {
          case "catch":
            this.delet(index);
            break;

          default:
            swal("Certo!", "Ok, informação mantida!", "warning");
        }
      });
    },
    delet(index, api = false) {
      if (api) {
        console.log(this.form);
        this.items.splice(index, 1);
      } else {
        barramento.$emit("spinner_admin", true);
        this.axios({
          method: "delete",
          url: "/api/public/api/remove_evento/" + this.items[index].id,
          headers: { "content-type": "application/json" },
        })
          .then((response) => {
            console.log(response);
            this.items.splice(index, 1);
            barramento.$emit("get_api", true);
            swal("Sucesso!", "Evento deletado com sucesso!", "success");
          })
          .catch(function(error) {
            console.log(error);
          });
      }
    },
  },
};
</script>
